body {
    margin: 0;
    padding: 0;
    background-color: #dae4e5;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fefefe;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.header h1 {
    color: #a24124;
    text-align: center;
    margin-bottom: 0;
}

.header p {
    text-align: center;
    color: #53585a;
}

.timestamp {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: #e37e44;
    text-align: center;
    margin-bottom: 20px;
}

.prediction-box {
    padding: 15px;
    background-color: #a24124;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
}

.data-item {
    margin: 10px 0;
}

.prob-bar {
    margin: 10px 0;
    background-color: #adbcbf;
    border-radius: 4px;
    overflow: hidden;
}

.prob-bar-inner {
    height: 20px;
    background-color: #77868b;
    border-radius: 4px;
}

.prob-bar-text {
    margin-bottom: 4px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}